#home{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding-left: 2px;
    padding-right: 2px;
    align-items: center;
}

#btn{
    background-color: #E38700;
    border-color: white;
}
#btn:hover{
    background-color: #b76f04;
}

#tablev2{
    text-align: center;
    vertical-align: middle;
}

.home__wait{
    background-color: #f8f8f8;
    height:70vh ;
    mask-image: linear-gradient(to top, transparent 1%, black 15%);
}